*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.family-sans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-none{
    list-style: none;
}

.fs-2{
    font-size: 1.2em;
}

.mt-2{
    margin-top: 20px;
}

.fs-big{
    font-size: 2em;
}